.footer {
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 100px;
    color: #fff;
}

.footer .container {

    padding: 100px 0 0;
}

.footer-heading {
    font-size: 100px;
    width: 500px;
    font-weight: 500;
}
.footer-box{
    padding-block: 50px;
}
.footer-box.flex {
    border: 0.5px solid gray;
    border-left: 0;
    border-right: 0;

}
.footer-left{
    flex-basis: 60%;
    
}
.footer-icon{
    margin-left: 10px;
    cursor: pointer;
}
.footer-right{
    flex-basis: 37%;
}
.footer-left a{
    color: #EB423F;


}
.footer-right .nav-logo img{
    width: 50px;
}
.footer .nav-logo p{
    margin-left: 5px;
    color: #fff;
}
.footer-right ul li{
    margin-block: 30px;
    cursor: pointer;
    font-size: 19px;
    &:hover{
        color: #EB423F;
    }
}
.copyright{
    color: #ffffffba;
    padding: 20px;
    text-align: center;
}
@media (max-width:1200px){
    .footer-box.flex{
        padding-inline: 20px;
    }
 
    .footer-heading{
        font-size: 70px;
    }
}
@media (max-width:680px){
    .footer-heading{
        font-size: 50px;
        width: auto;
    }
 
    .footer-box.flex{
        flex-direction: column;
    }
}