.sidebar {
    height: 80vh;
    border-right: 1px solid #ccc;
    flex-basis: 15%;
    justify-content: unset;
    margin-bottom: 30px;
    padding-top: 20px;
    gap: 40px;
}

.title {
    font-size: 22px;
    font-weight: 500;

}

.sidebar label {
    margin-block: 20px;
    position: relative;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding-left: 30px;
    color: #333;
    & input[type='radio']{
        
        position: absolute;
        opacity: 0;

    }
    &  .checkmark{
        position: absolute;
        width: 20px;
        height: 20px;
        background-color:#EB423F;
        border-radius: 50%;
        top: 0;
        cursor: pointer;
        left: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

}
.checkmark::after{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    height: 8px;
    width: 8px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}