.new-collection {
    justify-content: space-between;
    height: 70vh;
    margin-bottom: 100px;

    & .section-heading {

        font-size: 40px;
    }
}

.new-collection.container {
    margin-top: 200px;
}

.new-left,
.new-right {
    flex-basis: 49%;
}

.new-left .top {
    height: 200px;

}

.image-box {
    height: 380px;
    background-color: #eee;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 40px;
}

.image-box img {
    width: 70%;
    height: 400px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.image-box img:nth-child(1) {

    rotate: 10deg;

}

.new-right p {
    color: #666;
}

.new-right button {
    border: 3px solid #EB423F;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #EB423F;
    margin-top: 30px;
}

@media (max-width:1200px) {
    .new-collection {
        height: auto;
    }

    .image-box {
        height: 250px;
        margin-bottom: 20px;
    }

    .image-box img {
        width: auto;
        height: 250px;
    }

    .new-right button {
        padding: 8px 20px;
        font-weight: 500;
        background-color: transparent;
        border: 2px solid #EB423F;
    }
}
@media (max-width:780px) {
    .new-collection{
        flex-direction: column;
    }
    .new-left,.new-right{
        width:  100%;
    }
    
}