.search{
    
    color: aliceblue;
    width: 100%;
    
    margin-top: 30px;
}
.search.container{
    justify-content: center;
}
.input-box{
    margin: auto;
    width: 70%;
    min-width: 400px;
}
.input-box input{
    border: 0;
    outline: none;
    padding: 15px 20px;
    background-color: #eeee;
    font-size: 18px;
    width: 80%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.input-box button{
    padding: 10px 20px;
    color: #fff;
    font-weight: 900;
    border-radius: 10px;
    font-size: 25px;
    line-height: 1.5;
    margin-left: -20px;
    background-color: #EB423F;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}
.filter-btn{
    padding: 0px 20px;
    height: 50px;
    width: 150px;
    background-color: #EB423F;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 16px;
}